footer{
    background: rgb(23, 55, 160);
    padding: 10;
    margin: 10;
    position:sticky;
    width:100%;
    height: 50px;
    margin-top: auto;
}


.container{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

